{% extends 'base.html' %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="banner">
                <div class="banner-text">
                    <h1>ToDo</h1>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-6">
        <form method="POST" class="p-3 shadow">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" class="form-control" name="task" placeholder="Enter the Task">
            </div>
            <div class="form-group">
         <input type="text" class="form-control" name="priority" placeholder="Enter the Priority">
     </div>
            <div class="form-group">
         <input type="date" class="form-control" name="date" placeholder="Enter the date">
     </div>



            <input type="submit" class="btn btn-success" >
        </form>




    </div>
        <div class="col-md-6">
            <h4>Task To Be Compleated</h4>
            {% for i in task1 %}
            <div class=" shadow card text-center" >
            <div class="card-body">
                <h5 class="card-title">{{i.name}}</h5>
                <p><b>{{i.priority}}</b></p>
                <p><b>{{i.date}}</b></p>
                <a href="{% url 'delete' i.id %}" class="btn btn-danger">Done</a>
                <a href="{% url 'update' i.id %}" class="btn btn-success">Update</a>
  </div>
</div>
            <br>
 {% endfor %}


        </div>
</div>
</div>

{% endblock %}